<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    My Work:&nbsp;&nbsp;
    <div style="border: 1px solid whitesmoke">
      <a routerLink="/home">&nbsp;Site-Home&nbsp;</a>
      <a routerLink="/skill">&nbsp;Skills&nbsp;</a>
      <a routerLink="/project">&nbsp;Project-History&nbsp;</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div flex layout="row">
  <div layout="column" flex>
    <div class="box1">
      <span>
        <p>
          Providing web apps, services & database feature development for
          various businesses.
        </p>
        <p>
          <br />
          <strong>Check out my pro links: </strong>
          <ng-template ngFor let-sitelink [ngForOf]="sitelinks">
            <a href="{{ sitelink.sitelink }}"
              >{{ sitelink.sitename }} &nbsp;
            </a>
          </ng-template>
        </p>
      </span>
      <span>
        <p>
          <span type="tel">{{ phone }}</span>
        </p>
        <p>{{ email }}</p>
      </span>
      <img
        class="main-img"
        mat-card-image
        src="../../assets/images/dilbert.png"
      />
    </div>
    <div class="box2">
      <mat-card
        class="mat-card"
        flex="100"
        layout-margin
        layout-padding
        layout-align="center stretch"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="avatar-img" src="../../assets/images/robot.jfif" />
          </div>
          <mat-card-title>Current Work</mat-card-title>
          <mat-card-subtitle>PyTorch & AI Deep Learning Focus</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img
            class="small-img"
            mat-card-image
            src="../../assets/images/thecode.jfif"
          />
          <p style="color: white">
            Learning PyTorch with Deep Learning (2024)
            <br /><br /> <br />
            Fundamentals, Workflows, Classifications, Computer Vision, Transfer Learning,
            Experiment Tracking and more. <br /><br /><br />
            Project: Deep dive into Deep Learning using PyTorch, Python and sklearn.
            <br /><br />
            Includes Tensors, Models, Neural Networks and more.
            <br /><br />
            Also... Mobile PWA apps build as hybrid in VS Code and Android Studio.
            <br /><br />
            Ionic Angular/React/Vue with capacitor for Android deployment.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="box3">All rights reserved Brian Quinn</div>
  </div>
</div>
