<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      My Skills:&nbsp;&nbsp;
        <div style="border: 1px solid whitesmoke ">
          <a routerLink="/home">&nbsp;Site-Home&nbsp;</a>
          <a routerLink="/work">&nbsp;Work-Home&nbsp;</a>
          <a routerLink="/project">&nbsp;Project-History&nbsp;</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div flex layout="row">
    <div layout="column" flex>
        <div class="box1">
            <mat-tab-group headerPosition="below">
              <mat-tab class="myTab" label=".NET">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/dotnetlogo.jfif" />
                  <p>
                    15 years of .NET Web API experience.
                    <br/>
                    <br/>
                    C#.Net code for API services.
                    <br/>
                    .NET 5/6 builds.
                    <br/>
                    Entity Framework repository, ADO.NET and other data/model tools.
                    <br/>
                    Databases such as SQL Server, Oracle and Postgre SQL.
                    <br/>
                    <br/>
                    Project work included:
                    <br/>
                    <br/>
                    1. Geo Calculations with microservices with .NET 6, Kafka, Rabbit MQ,
                    <br/>
                    <br/>
                    2. Sports wagering system with microservices in .NET 5, Kafka,
                    <br/>
                       gRpc, Proto Buffers and deployment to Kubernetes/Minikube
                    <br/>
                    <br/>
                    3. Medicaid for KS with .NET Core 3.1 and SQL Server
                    <br/>
                    <br/>
                    4. Royalty and Brand legal and payments system in .NET Core 2 with SQL Server
                    <br/>
                    <br/>
                    5. Property Assessment appeal system in .NET with Oracle and SQL Server
                    <br/>
                    <br/>
                   <!-- <a style="color: black; font-weight: bold;" href="https://www.youtube.com/watch?v=ce13PozKFfg">Colts at 49ers Game 7</a>
                   -->
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="Java">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/javalogo.png" />
                  <p>
                    9 years of Java overall and 5 years of Java Spring Boot.
                    <br/>
                    <br/>
                    Java code in Java Spring Boot API services.
                    <br/>
                    Hibernate, JPA, CRUD repository, services, beans and interfaces.
                    <br/>
                    Databases such as Oracle, MySQL, Postgre SQL and MongoDB.
                    <br/>
                    <br/>
                    Project work included:
                    <br/>
                    <br/>
                     1. eCommerce for Amazon and Walmart products with microservices in Java Spring Boot
                    <br/>
                    <br/>
                     2. Microservices with Java Spring Boot and RabbitMQ and deployment
                        to Spring Cloud and OpenShift
                    <br/>
                    <br/>
                     3. Thompson Reuters finance portfolio management with Java Spring Boot
                    <br/>
                    <br/>
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="Angular">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/angularlogo.png" />
                  <p>6 years of Angular up to verson 15
                    <br/>
                    <br/>
                    Includes Angular Material, Node and Express
                    <br/>
                    Reactive Forms, service injection, Observable/Subscriber, Routing, HTTP
                    <br/>
                    <br/>
                    Project work included:
                    <br/>
                    <br/>
                      1. This website for my business
                    <br/>
                    <br/>
                      2. Colts By Numbers & Colts By Numbers Reactive Forms and SVG Image Views
                    <br/>
                    <br/>
                      3. Web app for American Well to check in patients for online doctor visits
                    <br/>
                    <br/>
                      4. Web app for Thompson Reuters for financial investment portfolio management
                  <br/>
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="React">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/reactlogo.png" />
                  <p>3 years of React up to verson 18
                    <br/>
                    <br/>
                    Includes State Management in Redux, Node and Express
                    <br/>
                    Reactive Forms, service injection, Observable/Subscriber, Routing, HTTP
                    <br/>
                    <br/>
                    Project work included:
                    <br/>
                    <br/>
                      1. Colts By Numbers service starter form and monitor log
                    <br/>
                  <br/>
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="Python">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/pythonlogo.jpg" />
                  <p>3 years of Python
                    <br/>
                    <br/>
                    Includes FastAPI, microservices, odmantic, MongoDB, MatplotLib, Numpy, Panda,
                    <br/>
                    Pedeantic models, service injection, Observable/Subscriber, Routing, HTTP
                    <br/>
                    <br/>
                    Project work included:
                    <br/>
                    <br/>
                      1. Colts By Numbers FastAPI stats with SVG images for NFL football season
                    <br/>
                  <br/>
                  </p>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        <div class="box3">
            All rights reserved Brian Quinn
        </div>
    </div>
</div>
