<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row>
      My Skills:&nbsp;&nbsp;
        <div style="border: 1px solid whitesmoke ">
          <a routerLink="/home">&nbsp;Site-Home&nbsp;</a>
          <a routerLink="/work">&nbsp;Work-Home&nbsp;</a>
          <a routerLink="/project">&nbsp;Project-History&nbsp;</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div flex layout="row">
    <div layout="column" flex>
        <div class="box1">
            <mat-tab-group headerPosition="below">
              <mat-tab class="myTab" label=".NET">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/dotnetlogo.jfif" />
                  <p>
                    15 years of .NET Web API experience.
                    <br/>
                    <br/>
                    C#.Net code for API services.
                    <br/>
                    .NET 5/6 builds.
                    <br/>
                    Entity Framework repository, ADO.NET and other data/model tools.
                    <br/>
                    Databases such as SQL Server, Oracle and Postgre SQL.
                    <br/>
                    <br/>
                    Recent work included microservices with .NET 5/6, Kafka, Rabbit MQ,
                    <br/> gRpc, Proto Buffers and deployment to Kubernetes/Minikube
                    <br/>
                   <!-- <a style="color: black; font-weight: bold;" href="https://www.youtube.com/watch?v=ce13PozKFfg">Colts at 49ers Game 7</a>
                   -->
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="Java">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/javalogo.png" />
                  <p>
                    8 years of Java overall and 5 years of Java Spring Boot.
                    <br/>
                    <br/>
                    Java code in Java Spring Boot API services.
                    <br/>
                    Hibernate, JPA, CRUD repository, services, beans and interfaces.
                    <br/>
                    Databases such as Oracle, MySQL, Postgre SQL and MongoDB.
                    <br/>
                    <br/>
                    Recent work included microservices with Java Spring Boot, Rabbit MQ,
                    <br/> and deployment to Spring Cloud and OpenShift
                    <br/>
                  </p>
                </div>
              </mat-tab>
              <mat-tab label="Angular">
                <div class="myTabContent">
                  <img class="main-img" mat-card-image src="../../assets/images/angularlogo.png" />
                  <p>5 years of Angular up to verson 13
                    <br/>
                    <br/>
                    Includes Angular Material, Node and Express
                    <br/>
                    Reactive Forms, service injection, Observable/Subscriber, Routing, HTTP
                    <br/>
                    <br/>
                    Recent work included this website for my business, Colts By Numbers
                    <br/> and a web app for American Well to check in patients for online doctor visits
                    <br/>
                  </p>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        <div class="box3">
            All rights reserved Brian Quinn
        </div>
    </div>
</div>
