<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    Colts By Numbers:&nbsp;&nbsp;
    <div style="border: 1px solid whitesmoke">
      <a routerLink="/home-colts">&nbsp;Colts-Home&nbsp;</a>
      <a routerLink="/team">&nbsp;Team&nbsp;</a>
      <a routerLink="/player/offense">&nbsp;Player-Offense&nbsp;</a>
      <a routerLink="/player/defense">&nbsp;Player-Defense&nbsp;</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div flex layout="row">
  <div layout="column" flex>
    <div class="box1">
      <div class="container">
        <h3>&nbsp;&nbsp;Players To Watch</h3>
        <mat-table #table [dataSource]="players">
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let tops">{{ tops.name }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Position">
            <mat-header-cell *matHeaderCellDef> Pos </mat-header-cell>
            <mat-cell *matCellDef="let tops">{{ tops.position }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Plink">
            <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
            <mat-cell *matCellDef="let tops">
              <a mat-stroked-button href="{{ tops.plink }}" target="_blank"
                >PFR</a
              >
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="mat-row"
          ></mat-row>
        </mat-table>
      </div>
      <div class="contaner">
        <mat-card
          flex="100"
          layout-margin
          layout-padding
          layout-align="center stretch"
        >
          <img
            class="main-img"
            mat-card-image
            style="width: 200px; height: 200px"
            src="../../assets/images/dbuckner.jpg"
          />
        </mat-card>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Top Numbers</h3>
        <mat-table #table [dataSource]="tops">
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let tops">{{ tops.name }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Position">
            <mat-header-cell *matHeaderCellDef> Pos </mat-header-cell>
            <mat-cell *matCellDef="let tops">{{ tops.position }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Plink">
            <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
            <mat-cell *matCellDef="let tops">
              <a mat-stroked-button href="{{ tops.plink }}" target="_blank"
                >PFR</a
              >
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="mat-row"
          ></mat-row>
        </mat-table>
      </div>
      <div class="container">
        <mat-card
          flex="100"
          layout-margin
          layout-padding
          layout-align="center stretch"
        >
          <img
            class="main-img"
            mat-card-image
            style="width: 200px; height: 200px"
            src="../../assets/images/qnelson.jpg"
          />
        </mat-card>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Rookie Watch</h3>
        <mat-table #table [dataSource]="rookies" class="mat-elevation-z14">
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
            <mat-cell *matCellDef="let rookies">{{ rookies.name }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Position">
            <mat-header-cell *matHeaderCellDef> Pos </mat-header-cell>
            <mat-cell *matCellDef="let rookies">{{
              rookies.position
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Plink">
            <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
            <mat-cell *matCellDef="let rookies">
              <a mat-stroked-button href="{{ rookies.plink }}" target="_blank"
                >PFR</a
              >
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="mat-row"
          ></mat-row>
        </mat-table>
      </div>
      <!-- Insert image here -->
      <div class="container">
        <mat-card
          flex="100"
          layout-margin
          layout-padding
          layout-align="center stretch"
        >
          <img
            class="main-img"
            mat-card-image
            style="width: 200px; height: 200px"
            src="../../assets/images/jtaylor.jpg"
          />
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div flex layout="row">
  <div layout="column" flex>
    <div class="box2">
      <div class="container">
        <h3>&nbsp;&nbsp;Anthony's Playground</h3>
        <p>
          5... QB Anthony Richardson starts the season with a 101.2 rating
          <br />Brings an exciting new look to the Colts this year.
        </p>
        <!-- <ng-image-slider
          #nav
          [images]="imageObject"
          [imageSize]="{ width: '25%', height: 200 }"
          [infinite]="false"
          [autoSlide]="1"
          slideImage="1"
        >
        </ng-image-slider> -->
        <mat-card
        flex="100"
        layout-margin
        layout-padding
        layout-align="center stretch"
      >
        <img
          class="main-img"
          mat-card-image
          style="width: 550px; height: 300px"
          src="../../assets/images/arichardson2.jpg"
        />
      </mat-card>
      </div>
      <div class="container">
        <!-- Here we will add a tab group and tab for the YTD stats -->
        <h3>&nbsp;&nbsp;QB Comparison</h3>
        <mat-tab-group headerPosition="below">
          <mat-tab>
            <ng-template mat-tab-label>
              <span style="color: black">Current</span>
            </ng-template>
            <mat-tab-header>Year To Date</mat-tab-header>
            <mat-table
              style="width: 600px"
              [dataSource]="qbstats"
              class="mat-elevation-z8"
              (matSortChange)="sortData($event)"
              matSort
              matSortActive="CMPP"
              matSortDirection="desc"
              matSortDisableClear
            >
              <ng-container matColumnDef="QB">
                <mat-header-cell *matHeaderCellDef>QB</mat-header-cell>
                <mat-cell
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.qbstat_name }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="Att">
                <mat-header-cell *matHeaderCellDef>Att</mat-header-cell>
                <mat-cell
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.att }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="CMPP">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >CMPP</mat-header-cell
                >
                <mat-cell
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                >
                  {{ qbstat.cmpp }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="TDP">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >TDP</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.tdp }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="INTP">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >INTP</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.intp }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="Rate">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Rate</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.rate }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="AYA">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >AYA</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                >
                  {{ qbstat.aya }}</mat-cell
                >
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumnsQBStats"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumnsQBStats"
              ></mat-row>
            </mat-table>
          </mat-tab>
          <!-- Here we will a second tab for the projected table -->
          <mat-tab>
            <ng-template mat-tab-label>
              <span style="color: black">Next Game</span>
            </ng-template>
            <mat-tab-header>Next Game Projections</mat-tab-header>

            <mat-table
              style="width: 600px"
              [dataSource]="qbstatsP"
              class="mat-elevation-z8"
              (matSortChange)="sortPData($event)"
              matSort
              matSortActive="CMPP"
              matSortDirection="desc"
              matSortDisableClear
            >
              <ng-container matColumnDef="QB">
                <mat-header-cell *matHeaderCellDef>QB</mat-header-cell>
                <mat-cell
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.qbstat_name }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="Att">
                <mat-header-cell *matHeaderCellDef>Att</mat-header-cell>
                <mat-cell
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.att }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="CMPP">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >CMPP</mat-header-cell
                >
                <mat-cell
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                >
                  {{ qbstat.cmpp }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="TDP">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >TDP</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.tdp }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="INTP">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >INTP</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.intp }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="Rate">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Rate</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                  >{{ qbstat.rate }}</mat-cell
                >
              </ng-container>

              <ng-container matColumnDef="AYA">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >AYA</mat-header-cell
                >
                <mat-cell
                  class="duration-cell"
                  *matCellDef="let qbstat"
                  [ngStyle]="{
                    'background-color': getBackgroundColor(qbstat)
                  }"
                >
                  {{ qbstat.aya }}</mat-cell
                >
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumnsQBStats"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumnsQBStats"
              ></mat-row>
            </mat-table>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="container">
        <h3>&nbsp;&nbsp;Players Table</h3>
        <p>
          Game 1 Player Highlights
          <br />
          <br />
          5... is for Anthony Richardson with 212 yds passing and 56 yds rushing.
          <br />
          <br />
          125... For WR Alec Pierce. Off to a great start.
          <br />
          <br />
          99... That's DeForest Buckner with 1.5 sacks and 2 QB hits.
          <br />
        </p>
      </div>
    </div>
  </div>
</div>

<div class="box3">All rights reserved Brian Quinn</div>
