/* App level styles imported */

/* Use the responsive table SASS styles */
@import  "../../styles/responsive/responsive-table.scss";

a {
    color: white;
}

mat-table {
    font-size: 1.5 em;
}

mat-row {
    background-image: linear-gradient(rgb(118, 196, 238), black);
}


h3 {
    font-weight: bold;
    background-color: lightgray;
}

div {
    border: 2px solid darkblue;
}

p {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    margin: 1%;
}

.box3, .box2, .box1 {
    display:flex;
    box-sizing: border-box;
    max-width:100%;
    max-height: 100%;
    margin: .5%;
    background-color: white;
}

.box1 {
    max-height:75%;
    min-height: 35%;
    //flex:1 1 75%;
    align-content:  space-between;
    padding: .5%;
    background-color:  rgb(50, 50, 196);
}

.box2 {
    max-height:75%;
    min-height: 65%;
    flex:1 1 75%;
}

.box3 {
    max-height:5%;
    flex:1 1 5%;
}

.card {
    background-color: rgb(50, 50, 196);
    color: white;
    flex-flow: row;
    align-items: center;
    margin: .5%;
}

th.mat-sort-header-sorted {
    color: black;
}


.mat-column-Name {
    max-width: 100px !important;
    min-width: 80px !important;
    color: white;
}

.mat-column-Position {
    max-width: 40px !important;
    color: white;
}


.mat-column-Info {
    width: 40px !important;
    color: white;
}


