<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    I Nomadic Brian:&nbsp;&nbsp;
    <div style="border: 1px solid whitesmoke">
      <a routerLink="/home-colts">&nbsp;Colts By Numbers&nbsp;</a>
      <a routerLink="/work">&nbsp;My Work&nbsp;</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div flex layout="row">
  <div layout="column" flex>
    <div class="box1">
      <mat-tab-group headerPosition="below">
        <mat-tab class="myTab" label="News">
          <div class="myTabContent">
            <h3>What's The Scoop!</h3>
            <p>
              6 ebooks in the last 2 years. .NET 6 and Java Spring Boot with
              Microservices, Redhat OpenShift, React 18 and Angular v15.
              <br />
              <br />
              Just started the Big Nerd Ranch Kotlin Guide in November of 2023
              <br />
              <br />
              <!-- <a style="color: black; font-weight: bold;" href="https://www.youtube.com/watch?v=ce13PozKFfg">Colts at 49ers Game 7</a>
               -->
            </p>
          </div>
        </mat-tab>
        <mat-tab class="myTab" label="Projects">
          <div class="myTabContent">
            <h3>Recent projects.</h3>
            <p>
              Learning Kotlin as 2023 winds down
              <br />
              <br />
              Converted Colts By Numbers Python to FastAPI & Microservices with
              MongoDB documents.
              <br />
              <br />
              Created Colts By Numbers React 18 service monitor of Python
              FastAPI & Microservices.
              <br />
              <br />
              Upgraded Colts By Numbers web UI and created reactive web forms
              and graph/bar chart SVG image views to Angular 15.
              <br />
            </p>
          </div>
        </mat-tab>
        <mat-tab class="myTab" label="About">
          <div class="myTabContent">
            <h3>What's Here?</h3>
            <p>
              1. Colts By Numbers a fan website I do during football season.
              <br />2. My work as an Application Developer that includes skills
              and projects.
            </p>
          </div>
        </mat-tab>
      </mat-tab-group>
      <img
        class="logo-img"
        mat-card-image
        src="../../assets/images/bquinn.jpg"
      />
    </div>
    <div class="box2">
      <mat-card
        class="mat-card"
        flex="100"
        layout-margin
        layout-padding
        layout-align="center stretch"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img class="avatar-img" src="../../assets/images/robot.jfif" />
          </div>
          <mat-card-title>My World</mat-card-title>
          <mat-card-subtitle>Arts - Sports - Mind</mat-card-subtitle>
          <p>
            Film Noir & Musicals, Music of the 1920s, 30s, 40s, Existentialists,
            Technology, Sports and Social Media
          </p>
        </mat-card-header>
        <br />
        <br />
        <mat-card-content class="mat-card-content">
          <br />
          <br />
          <img class="main-img" mat-card-image src="{{ getImage() }}" />

          <!--
          <img
            class="main-img"
            mat-card-image
            src="../../assets/images/filmnoir.jfif"
          />

          <img
            class="main-img"
            mat-card-image
            src="../../assets/images/anamerinparis.jfif"
          />
          <img
            class="main-img"
            mat-card-image
            src="../../assets/images/dali.jfif"
          />
          <br />
          <img
            class="main-img"
            mat-card-image
            src="../../assets/images/ai3.jfif"
          />
          <img
            class="main-img"
            mat-card-image
            src="../../assets/images/coltslogo2.png"
          />
          <img
            class="main-img"
            mat-card-image
            src="../../assets/images/orioles2.jfif"
          /> -->
        </mat-card-content>
        <br />
        <br />
        <br />
        <br />
      </mat-card>
    </div>
    <div class="box3">All rights reserved Brian Quinn</div>
  </div>
</div>
